 <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
<!-- <nav class="navbar navbar-fixed-top navbar-inverse bg-faded">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
<nav class="navbar navbar-fixed-top bg-faded" style="background-color: rgb(247, 247, 249)">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="background-color:black"></span>
        <span class="icon-bar" style="background-color:black"></span>
        <span class="icon-bar" style="background-color:black"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}/" style="color:#8d7edc; font-family: 'Caveat Brush', cursive; font-size:25px">[>|c] vasthav</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" style="text-align:center">
          <a class="nav-link" href="{{ site.url }}/">Home</a>
        </li>
        {% for page in site.pages %} {% if page.title %}
        <li class="nav-item" style="text-align:center">
          <a class="nav-link" href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
          {% unless forloop.last %}
          {% endunless %}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</nav>