---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body style="padding-top: 70px">
  {% include navbar.html %}

  <div class="post-listing">
    {{ content }}
    {% include sidebar.html %}
    <span id="#about"></span>
    {% include footer.html %}
  </div>
  {% include js.html %}

</body>
</html>

<script>
function loadCSS( href, before, media, callback ){
	"use strict";
	var ss = window.document.createElement( "link" );
	var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
	var sheets = window.document.styleSheets;
	ss.rel = "stylesheet";
	ss.href = href;
	ss.media = "only x";
	if( callback ) {
		ss.onload = callback;
	}
	ref.parentNode.insertBefore( ss, ref );
	ss.onloadcssdefined = function( cb ){
		var defined;
		for( var i = 0; i < sheets.length; i++ ){
			if( sheets[ i ].href && sheets[ i ].href === ss.href ){
				defined = true;
			}
		}
		if( defined ){
			cb();
		} else {
			setTimeout(function() {
				ss.onloadcssdefined( cb );
			});
		}
	};
	ss.onloadcssdefined(function() {
		ss.media = media || "all";
	});
	return ss;
}
loadCSS('//fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic|Roboto+Mono|Open+Sans|Caveat+Brush');
</script>
<noscript>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</noscript>